<section class="section1 text-center vh-100">
    <div class="text-white text-center">
        <img [src]="imgSrc" alt="" class="mb-5">
        <div class="head text-center d-flex align-items-center flex-column">
            <h2> START ANGULAR</h2>
            <div class="line-star d-flex w-25">
                <div class="layer my-3 mx-2"></div>
                <div class="icon">
                    <i class="fa-solid fa-star fs-3"></i>
                </div>
                <div class="layer my-3 mx-2"></div>
            
            </div>
            </div>
            
        <p class="pSection1">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</section>
<!-- end section header -->

