<div class="portcopy position-relative w-100">
<div class="container py-5">
<div class="head text-center d-flex align-items-center flex-column">
<h2> PORTFOLIO</h2>
<div class="line-star d-flex w-25">
    <div class="layer my-3 mx-2"></div>
    <div class="icon">
        <i class="fa-solid fa-star fs-3"></i>
    </div>
    <div class="layer my-3 mx-2"></div>

</div>
</div>
<div class="port-content">
    <div class="row">
        <!-- <div class="col-md-4 my-2 position-relative">
            <img class="img-fluid"src="./assets/images/1.png" alt="">
            <div class="port-layer d-flex justify-content-center align-items-center position-absolute">
                <i class="fa-solid fa-plus text-white fa-3x"></i>
            </div>

        </div> -->
        <div class="col-md-4 my-2 position-relative"*ngFor="let x of port" (click)="view=false; portImg = x">
            <img class="img-fluid"[src]="x.img" alt="">
            <div class="port-layer d-flex justify-content-center align-items-center position-absolute">
                <i class="fa-solid fa-plus text-white fa-3x"></i>
            </div>

        </div>
        <!-- <div class="col-md-4 my-2 position-relative">
            <img class="img-fluid"src="./assets/images/2.png" alt="">
            <div class="port-layer d-flex justify-content-center align-items-center position-absolute">
                <i class="fa-solid fa-plus text-white"></i>
            </div>

        </div>
        <div class="col-md-4 my-2 position-relative">
            <img class="img-fluid"src="./assets/images/2.png" alt="">
            <div class="port-layer d-flex justify-content-center align-items-center position-absolute">
                <i class="fa-solid fa-plus text-white"></i>
            </div>

        </div>
        <div class="col-md-4 my-2 position-relative">
            <img class="img-fluid"src="./assets/images/2.png" alt="">
            <div class="port-layer d-flex justify-content-center align-items-center position-absolute">
                <i class="fa-solid fa-plus text-white"></i>
            </div>

        </div>
        <div class="col-md-4 my-2 position-relative">
            <img class="img-fluid"src="./assets/images/2.png" alt="">
            <div class="port-layer d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus text-white"></i>
            </div>

        </div> -->

    </div>
</div>
</div>

<div class="lightbox w-100" [hidden]="view">
    <div class="container bg-white py-3 rounded-3 position-relative">
        <div class="icon-light"(click)="view=true">
            <i class="fa-solid fa-close mx-2"></i>
        </div>
        <div class="head text-center d-flex align-items-center flex-column">
            <h2> {{portImg.tittle}}</h2>
            <div class="decoration d-flex w-25">
                <div class="layer my-3 mx-2"></div>
                <div class="icon">
                    <i class="fa-solid fa-star fs-3"></i>
                </div>
                <div class="layer my-3 mx-2"></div>
            
            </div>
            </div>
            <div class="light-inner text-center">
                <img class="img-fluid w-50"[src]="portImg.img" alt="">
                <p class="mb-5 mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <button class="btn btn-primary"(click)="view=true"><i class="fa-solid fa-close"></i>close window</button>


            </div>


    </div>

</div>
</div>